# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test

# Notes
notes.txt
pending_changes.diff
stats.json
changes_since_last_release.log